@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "config";
@import "utilities";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: $font1;
}

header {
  background: linear-gradient(
    to top right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  @include borderRadius(bottom);
}

@layer components {
  .container {
    @apply mx-auto xl:max-w-[1000px] sm:max-w-[320px] lg:max-w-[700px];
  }

  .menudrop > li {
    @apply text-veryDarkGrayishBlueBody hover:text-black hover:font-bold;
  }

  button {
    @apply capitalize rounded-full;
  }

  .hd,
  .hd2 {
    > h2 {
      @apply mb-3 text-veryDarkDesaturatedBlue font-bold text-[18px];
    }

    > p {
      @apply text-[14px] leading-[24px] md:text-left sm:text-center;
    }
  }

  ul.listEl {
    > li {
      @apply sm:mt-6 md:mt-0;

      > p {
        @apply mb-4 text-whiteTxT;
      }

      > ul > li {
        @apply text-grayishBlueFooterTxt hover:underline hover:cursor-pointer;
      }
    }
  }

  li.menu {
    @apply relative md:px-[10px] hover:underline cursor-pointer md:text-whiteTxT sm:text-veryDarkBlackBlueFooter sm:py-[10px] sm:px-0 md:py-[0px];
  }
}

div.menubtn {
  ~ ul.menudrop {
    position: absolute;
    top: 6vh;
    border-radius: 5px;

    > li {
      line-height: 5px;
      padding: 15px 5px;
    }
  }

  &:hover ~ ul {
    visibility: visible;
    opacity: 1;
    top: 4vh;
    transition: all 300ms ease;
  }

  & > img {
    transform: rotate(180deg);
  }
  &:hover > img {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
  }
}

.second_slide {
  @include borderRadius(top);
  @include borderRadius(bottom);
}

footer {
  @include borderRadius(top);
}

@media (max-width: 576px) {
  .left,
  .right {
    transform: translateX(400px);
    transition: transform 1s ease;
    box-shadow: 10px 5px 10px 5px rgb(0 0 0 / 50%);
  }

  .right {
    justify-content: space-around;
    border-top: 1px solid gray;
  }

  div.left.open,
  div.right.open {
    transform: translateX(0px);
  }

  ul.menudrop {
    background-color: gray;
    margin-bottom: 20px;
  }

  ul.listItem {
    margin-top: 40px;
    font-size: 20px;
  }

  div.menubtn.activeNav > ul {
    display: block;
  }

  li.menu.activeNav > .menubtn > img {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  input[type="checkbox"] {
    display: none;
  }

  #showDrop:checked ~ ul.menudrop,
  #showDrop2:checked ~ ul.menudrop,
  #showDrop3:checked ~ ul.menudrop {
    display: block;
    visibility: visible;
    max-height: 100%;
    position: static;
    background-color: lightgray;
  }
}

.menubar div {
  height: 3px;
  width: 30px;
  background-color: white;
  margin: 5px 0;
  transition: transform 500ms ease;
}

.toggle .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar2 {
  opacity: 0;
}

.toggle .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

// intersection observer API section

.section {
  transform: translateY(0rem);
  transition: transform 0.5s ease;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
